extends layout

block content

  head 
    link(rel="stylesheet", href="stylesheets/styles.css")
  a(href="/new") New Message
  
  h1= title

  p Welcome to Jack's #{title}


  each section in messages
    div(class="message-section")
      ul 

        li= section.text 
        li= section.user
        li= section.added
